<% include ./partials/navbar.ejs %>
 
<div class="container mt-5 d-flex" style="gap:20px">
 
  <div class="card" style="width: 18rem;">
    <img id="img" src="../images/uploads/<%=founduser.image%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        <%=founduser.username%>
      </h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <small>like <%=founduser.likes.length %> by people</small>
      <a href="/like/<%=founduser._id %>" class="btn btn-primary">like by people</a>
    </div>
    <form id="hidden" style="display: none;" action="/upload" method="post" enctype="multipart/form-data">
      <input id="fileinput" type="file" name="avtar">
      <button  type="submit" class="btn btn-primary mt-1">submit</button>
    </form>
  </div>
  <div class="post">
    <form action="/post" method="post">
    <textarea style="resize: none;" name="postdel" id="textid"></textarea>
    <input type="submit" class="btn btn-primary mt-1">
    </form>
  </div>
</div> 
<script>
  document.querySelector("#img").addEventListener("click", function() {
    document.querySelector("#fileinput").click();
  });

  document.querySelector("#fileinput").addEventListener("change", function() {
    document.querySelector("#hidden").submit();
  });
</script>

<% include ./partials/footer.ejs %>
